/* Highlighter Styles: Customize to liking */


/* <pre> Element Style  */

pre {
    background: rgba(236, 236, 236, 0.2);
    border: 1px solid rgba(236, 236, 236, 0.4);
    border-radius: 5px;
    padding: 16px;
    overflow: auto;
}


/* Syntax Colors */

.lang-css-syntax {
    /* default foreground color */
    /*color: #5d5858;*/
    color: #434343;
    font-size: 15px;
}

.lang-css-atrule {
    color: #A83887;
}

.lang-css-media-type {
    color: #434343;
}

.lang-css-media-feature {
    color: #434343;
}

.lang-css-media-logical {
    color: #A83887;
}

.lang-css-attribute {
    color: #434343;
}

.lang-css-tag {
    /*color: #966311;*/
    color: #3C84B4;
}

.lang-css-id {
    color: #3C84B4;
}

.lang-css-class {
    color: #3C84B4;
}

.lang-css-nth {
    color: #A83887;
}

.lang-css-selector-alternating {
    color: #434343;
}

.lang-css-string {
    color: #9A653A;
}

.lang-css-number {
    color: #627E00;
}

.lang-css-unit {
    color: #A83887;
}

.lang-css-hexcolor {
    color: #9A653A;
}

.lang-css-colorname {
    color: #A83887;
}

.lang-css-function {
    color: #A83887;
}

.lang-css-pseudo {
    color: #A83887;
}

.lang-css-property {
    color: #646069;
    background: #FFF;
}

.lang-css-x-property-value {
    color: #9A653A;
}

.lang-css-operator {
    color: #A83887;
}

.lang-css-comment {
    color: #AAA;
}

.lang-css-fontname {
    color: #A83887;
}

.lang-css-keyword {
    color: #A83887;
}

.lang-css-highlight-yellow {
    color: #333;
    background: rgba(255, 204, 0, 0.45);
    box-shadow: 0px 0px 0px 2px #ffcc00;
    border-radius: 3px;
}

.lang-css-highlight-blue {
    color: #333;
    background: rgba(41, 100, 236, 0.1);
    box-shadow: 0px 0px 0px 2px #2964ec;
    border-radius: 3px;
}


/* [----- CSS.SITE.STYLES.END -----] */
