/* [----- CSS.RESET.START -----] */


/* [box_sizing.styles](https://css-tricks.com/box-sizing/) */

html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    font: 300 16px/1.5 Lato;
    margin: 0;
    color: #2d3c49;
}

:focus {
    /* remove default outline [http://stackoverflow.com/questions/17324960/copy-chrome-default-inputs-outline-style] */
    outline: none;
}


/* [----- CSS.RESET.END -----] */


/* [----- CSS.SITE.STYLES.START -----] */

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 25px;
    width: 625px;
}

.label {
    font-size: 20px;
    font-weight: bold;
}

.paragraph {
    font-size: 20px;
    padding-top: 10px;
}

.css-example {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: initial;
    align-content: space-around;
    width: 600px;
}


/* [----- CSS.SITE.STYLES.END -----] */
